<main>
  <div class="loginModal">
    <div class="inputs">
      <p class="item">
        Login
      </p>
      <div class="userName item">
        <input type="text" placeholder="User Name" [(ngModel)]='userName'>
      </div>
      <div class="password item">
        <input type="password" placeholder="Password" [(ngModel)]='password'>
      </div>
      <div class="rePassword item">
        <input type="password" placeholder="Re-Enter Password" [(ngModel)]='rePassword'>
      </div>
      <a class="button" (click)="login()">Login</a>
    </div>
  </div>
</main>