<app-header></app-header>
This is the profile
<div class="temples">
    <div class="bingo"> 
      <div class="temple">Manti</div>
      <div class="temple">Salt Lake</div>
      <div class="temple">Payson</div>
      <div class="temple">Timpanogos</div>
      <div class="temple">Provo City</div>
      <div class="temple">Ogden</div>
      <div class="temple">Oquirrah Mt</div>
      <div class="temple">Logan</div>
      <div class="temple">Draper</div>
      <div class="temple">St. George</div>
      <div class="temple">Bountiful</div>
      <div class="temple">Vernal</div>
      <div class="temple">Brigham City</div>
      <div class="temple">Jordan River</div>
      <div class="temple">Monticello</div>
      <div class="temple">Provo</div>
    </div>
  </div>
  <input type="file" (change)="fileEvent($event)">