div {
    background: #fafafa;
}
.temples {
    text-align: center;
    margin: 30px;
}
.bingo {
    display: inline-block;
    width: 70vw;
    height: 70vw;
    margin: auto;
}
.temple {
    display: inline-block;
    height: 25%;
    width: 23%;
    text-align: center;
    background: url('../../assets/TemplePics/moroni.jpg');
    border: 2px solid blue;
    background-size: cover; 
    margin-bottom: 4px;
}
.line {
    height: 1px;
    background: lightgrey;
}